

</div> <!-- .content -->

<footer>
	{% if view_past %}
		<ul class="flex-list">
			<li>Précédemment dans la mutu</li>
			{% for m in past_months %}
				<li><a href="?t={{m}}">{{ m|human_month }}</a></li>
			{% else %}
				<li>Pas encore d'historique</li>
			{% endfor %}
		</ul>
	{% endif %}
</footer>


</body>

</html>
