<!DOCTYPE html>
<html>

<head>
	{% include('common/head-meta-content-viewport.html') %}
	<title>mutmut</title>
	<link rel="icon" type="image/png" sizes="50x50" href="/assets/favicon.png">
	{% include('common/style.html') %}
</head>

<body>
	<header>
		<div class="links">
			<div class="tabs">
				{% for url, name in menu %}
					<a href="{{ url }}" class="{{ url == curr_url ? 'selected' : '' }}">{{ name }}</a>
				{% endfor %}
			</div>
			<small style="color: #e74c3c; font-weight: bold;">{{ now != time ? now|human_date : '' }}</small>
			<a href="/user.php">{{ user.name }}</a>
			<a title="déco" style="margin: 0.5em;" href="/login.php?out">✗</a>
		</div>
	</header>
	
	<div class="content">
	
	
