

{% if user.role == 'accountant' %}
	<form method="post">
		<input type="hidden" name="action" value="add" />
		<input type="hidden" name="reason" value="{{ reason }}" />
		<input type="hidden" name="needid" value="{{ needid }}" />
		{{ include('components/user-select.html', {from_to: 'from'}) }}
		<span>verse à</span>
		{{ include('components/user-select.html', {from_to: 'to'}) }}
		<input name="amount" type="number" placeholder="Somme à verser" />
		{{ include('components/select-payment-means.html') }}
		<input type="submit" value="Créer le paiement" />
	</form>
{% else %}
	<p>Réservé aux comptables</p>
{% endif %}

