

<h2>Caisse koala</h2>
<p>
	<div class="flex-list registers" style="font-size: 110%">
		<b title="{{ global_register|money2 }}">{{ global_register|money }} €</b>
		↴
	</div>
</p>

<div class="flex-list registers">
	{% for reg in user_registers %}
		<span title="{{ reg.register|money2 }}">{{ reg.name }} : {{ reg.register|money }} €</span>
	{% endfor %}
</div>

{% if month_contributions|count < nb_users %}
	<p class="warning">Tout le monde n'a pas encore déclaré en {{ page_month }}</p>
{% elseif warning_redistribution_left %}
	<p class="warning">/!\ Caisses prévisionnelles, les redistributions doivent être finalisées</p>
{% endif %}
