

<select name="means">
	<option value="transfer">par virement</option>
	<option value="cash">en espèces</option>
	<option value="check">par chèque</option>
	<option value="paypal">via paypal</option>
</select>
