

<ul class="flex-list">
	{% for r, u in urls_recent %}
		<li>
			{% if r != recent %}
				<a href="{{ u.url }}">{{ u.txt }}</a>
			{% else %}
				<b>{{ u.txt }}</b>
			{% endif %}
		</li>
	{% endfor %}
</ul>
