{% autoescape "html" %}

{% include('common/header.html') %}

<p>
	Le code est <a href="https://framagit.org/nicooo/mutmut">ici</a>.
</p>

<p>
	Historique des modifications :
</p>

<ul>
	<li>2024-08-07 : possibilité de déclarer sa cotisation à la place d'un⋅e autre membre (réservé aux comptables)</li>
	<li>2024-03-15 : possibilité de démarrer un groupe mutu avec des parts de caisse non-nulles</li>
	<li>2023-04-13 : possibilité de quitter la mutu — interface pour les comptables</li>
	<li>2022-12-18 : possibilité de 'sauter' un mois pour les utilisateurices<br/>
		Les comptables peuvent clore les cotisations : les membres n'ayant pas déclaré de cotisation ne participent pas à la redistribution ce mois-ci</li>
	<li>2022-05-24 : limiter les items aux plus récents des 3, 6, 12 derniers mois (Activité > Historique ; Mes cotisations)</li>
	<li>2021-11-24 : possibilité d'ajouter des utilisateurices</li>
	<li>2021-11-23 : les besoins terminés ne s'affichent plus sur la page Besoins<br/>La page Activité affiche la date originelle des besoins antidatés</li>
	<li>2021-10-24 : possibilité d'éditer/supprimer des besoins (erreur de saisie, regroupements d'opérations)</li>
	<li>2021-10-10 : possibilité que des membres quittent la mutu</li>
	<li>2021-09-22 : calculatrice pour la déclaration de cotisation</li>
	<li>2021-09-16 : antidatage des besoins à comptabiliser avant redistribution (besoins « de début de mois »)</li>
	<li>2021-08-25 : tri des membres par pseudo</li>
	<li>2021-08-23 : tri de l'activité antéchronologique</li>
	<li>2021-08-23 : possibilité de déclaration pour le mois suivant, à partir du 25 du mois</li>
	<li>2021-08-21 : montant des paiements éditables par les comptables, après création</li>
	<li>2021-07-03 : compatibilité des calculs avec de nouveaux·elles arrivant·es</li>
	<li>2021-07-01 : "Mes paiements" incluent maintenant tous mes paiements en attente, que je sois donateur·ice ou récipiendaire</li>
	<li>2021-06-27 : le tableau de redistribution affiche maintenant l'état des caisses individuelles juste après redistribution (sans les paiements pour besoin ultérieurs)</li>
	<li>2021-06-26 : possibilité pour les comptables de passer leur rôle à un·e autre membre (ou de se retirer le rôle)</li>
	<li>2021-06-26 : correctif des arrondis pour coller au tableau de compta</li>
	<li>2021-06-11 : réapparition du bouton de confirmation de paiement</li>
	<li>2021-06-10 : correctif affichage des caisses dans le tableau de redistribution<br/>+optimisation temps de chargement des pages</li>
	<li>2021-06-07 : inclusion de la caisse personnelle précédente dans le calcul de redistribution<br/>+ calcul détaillé plus clair pour chaque membre</li>
	<li>2021-06-04 : affichage des déclarant·es manquant</li>
	<li>2021-06-02 : déclaration de cotisation modifiable jusqu'au 5 du mois</li>
</ul>


{{ include('common/footer.html') }}

{% endautoescape %}
