{% autoescape "html" %}

{% include('common/header.html') %}

<div class="title-viewmore">
	<h2>Mes cotisations</h2>
	{{ include('components/viewmore.html') }}
</div>

<table><tbody>
	<tr><th>Mois</th><th>Cotisation</th></tr>
	{% for c in user_contributions %}
		<tr>
			<td>{{ c.date|human_month }}</td>
			<td>{{ c.participates ? c.amount|money : '×' }}</td>
			<td>
				{% if c.editable %}
					<a href="/declare.php">modifier</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody></table>

{% if user_contrib.show_link %}
	<p><a href='/declare.php'>Déclarer ma cotisation en {{ user_contrib.for_month }}</a></p>
{% endif %}


<h2>Cotisations des membres en {{ curr_month }}</h2>

<table><tbody>
	<tr><th>Membre</th><th>Cotisation</th></tr>
	{% for c in month_contributions %}
		<tr><td>{{ c.name }}</td><td>{{ c.participates ? c.amount|money : '×' }}</td></tr>
	{% endfor %}
	<tr><td><b>total</b></td><td><b>{{ sum_contrib|money }}</b></td></tr>
</tbody></table>

<p>
	Manquent
</p>
<ul class="flex-list flex-align-start">
	{% for user_name in month_contributions_missing %}
		<li>
			{% if user.role == 'accountant' %}
				<details>
					<summary>{{ user_name }}</summary>
					<form method="post" class="flex">
						<input type="hidden" name="action" value="declare-for-user" />
						<input type="hidden" name="user_name" value="{{ user_name }}" />
						<input type="number" name="contribution" placeholder="" value="" />
						<input type="submit" value="Déclarer" />
					</form>
				</summary>
			{% else %}
				<span>{{ user_name }}</span>
			{% endif %}
		</li>
	{% else %}
		<li>-</li>
	{% endfor %}
</ul>

{% if user.role == 'accountant' %}
	<form method="post">
		<input type="hidden" name="action" value="close" />
		
		{% if post.action == 'close' %}
			<!-- TODO: and who_didnt_declare.length > 0 -->
			<label>
				<input type="checkbox" name="confirm" />
				Je confirme : <i>{{ who_didnt_declare|join(', ') }}</i> ne cotiseront pas et ne participeront pas aux redistributions ce mois-ci.
			</label>
			<br/>
		{% else %}
			<input type="checkbox" name="confirm" style="display: none;" />
		{% endif %}
		
		<input type="submit" value="Clore les contributions ce mois-ci" />
	</form>
{% endif %}



{{ include('common/footer.html') }}

{% endautoescape %}
