{% autoescape "html" %}

{% include('common/header.html') %}

<h2>Déclarer ma cotisation en {{ user_contrib.for_month }}</h2>

<p class="info">
	Ma cotisation = 10% de (mes revenus du mois précédent - mon loyer)<br/>
	Exemple : j'ai touché 1000 €, je paie 350 € de loyer<br/>
	=> je cotise (1000-350) * 10/100 = 65 €.
</p>

<hr/>

<h3>Calculatrice (optionnel)</h3>

<details>
	<summary>
		Utiliser
	</summary>

	<p>Tu peux entrer ci-dessous tes revenus ainsi que ton loyer ; le site fera alors le calcul.</p>

	<form method="post">
		<p>
			Revenus : 
			<input type="number" name="income" placeholder="revenus" value="{{ post.income }}" />
		</p>
		<p>
			Loyer : 
			<input type="number" name="rent" placeholder="loyer" value="{{ post.rent }}" />
		</p>
		<input type="submit" value="Calculer" />
	</form>

	<p>(Tu pourras vérifier le résultat du calcul avant d'envoyer ta déclaration.)</p>
</details>

<hr/>

{% if post.income %}
	<p>
		Calcul : ({{ post.income }} - {{ post.rent }}) * 10/100 = {{ user_contrib.edit_contrib.amount|money }}<br/>
		(clique sur <i>Déclarer</i> ci-dessous pour enregistrer cette cotisation)
	</p>
{% endif %}

<form method="post">
	<label>Déclarant·e : <b>{{ user.name }}</b></label>
	<input
		type="number"
		name="contribution"
		placeholder="Ma cotisation en {{ user_contrib.for_month }}"
		value="{{ user_contrib.edit_contrib.amount|money }}"
		/>
	<input type="submit" value="Déclarer" />
</form>


{{ include('common/footer.html') }}

{% endautoescape %}
