{% autoescape "html" %}

{% include('common/header.html') %}


<h2><i>{{ get_user.name }}</i> quitte la mutuelle</h2>

<h3>Caisse individuelle</h3>

<div class="flex-list registers">
	<span title="{{ get_user_register|money2 }}">{{ get_user.name }} : {{ get_user_register|money }} €</span>
</div>

{% if get_user_pending_payments|count > 0 %}
	<p class="warning">
		<i>{{ get_user.name }}</i> a des paiements en cours et ne peut pas quitter
		la mutuelle avant leur confirmation.
	</p>
	
	<h3>Paiements en cours</h3>
	{{ include('components/payments.html', {payments: get_user_pending_payments}) }}
	
{% else %}

	<h3 class="warning">/!\ Confirmation /!\</h3>
	
	<p><i>{{ get_user.name }}</i> sera retiré·e des membres au 1er {{ curr_month }}.</p>

	{% if get_user_register > 0 %}
		<h4>1ère possibilité</h4>
		<p>
			<i>{{ get_user.name }}</i> conserve le montant restant de sa caisse ({{ get_user_register|money }} €).
		</p>
		<p>
			Dans ce cas rien à faire de plus, vous pouvez confirmer.
		</p>

		<h4>2ème possibilité</h4>
		<p>
			<i>{{ get_user.name }}</i> reverse le montant restant de sa caisse à quelqu'un·e d'autre
			(dans la caisse de quelqu'un·e d'autre).
		</p>
		<p>
			Dans ce cas, renseignez ce versement en créant un paiement:
			<span class="info" style="margin: 0.5em;">{{ get_user.name }} → quelqu'un·e</span>
			dans <a href="/redistribution.php">les redistributions du mois</a>.
		</p>
	{% endif %}
	
	<form method="post">
		<input type="hidden" name="userid" value="{{ get.userid }}" />
		<input type="submit" value="Confirmer que {{ get_user.name }} quitte la mutuelle" />
	</form>
	
{% endif %}


{% include('common/footer.html') %}

{% endautoescape %}
