<!DOCTYPE html>
<html>

<head>
	{% include('common/head-meta-content-viewport.html') %}
</head>

<body>

<h2>Se connecter</h2>

<form method="post">
	<input type="text"     name="login"    placeholder="Login" />
	<input type="password" name="password" placeholder="Mot de passe" />
	<input type="hidden"   name="redirect" value="{{ redirect_url }}" />
	<input type="submit"   value="Go" />
</form>

</body>
</html>
