{% autoescape "html" %}

{% include('common/header.html') %}


<h2>Mes paiements en attente</h2>

{{ include('components/payments.html', {payments: payments_mine, show_date: true}) }}


<h2>Autres paiements en {{ curr_month }}</h2>

{{ include('components/payments.html', {payments: payments_others}) }}


{{ include('common/footer.html') }}

{% endautoescape %}
