{% autoescape "html" %}

{% include('common/header.html') %}

{% if get.action == 'create' %}
	<h2>Ajouter un·e utilisateurice</h2>
	<p class="info">
	{% if payments_redistribution|count > 0 %}
		Les redistributions ont déjà commencé ce mois-ci.</p><p class="info">
		L'utilisateur·ice sera membre à partir du mois prochain (exclu·e des redistributions ce mois-ci).
	{% else %}
		Les redistributions n'ont pas encore commencé ce mois-ci.</p><p class="info">
		L'utilisateur·ice sera membre immédiatement (inclus·e dans les redistributions).
	{% endif %}
	</p>
{% else %}
	<h2>Éditer mes infos utilisateurice</h2>
{% endif %}

<form method="post">
	<input type="hidden" name="action" value="{{ get.action == 'create' ? 'create' : 'edit' }}" />
	<label>
		Pseudo
		<input name="name" placeholder="Pseudo" value="{{ get.action == 'create' ? '' : user.name }}" />
	</label>
	<br/>
	<label>
		Pronom(s)
		<input name="pronoun" placeholder="Pronom(s)" value="{{ get.action == 'create' ? '' : user.pronoun }}" />
	</label>
	<br/>
	<label>
		Mot de passe
		<input type="password" name="password" />
	</label>
	<br/>
	<label>
		Masto
		<input type="text" name="masto" value="{{ get.action == 'create' ? '' : user.masto }}" />
	</label>
	<br/>
	<small>(8 caractères minimum{{ get.action == 'create' ? '' : ', laissez le champ vide pour ne pas changer le mot de passe' }})</small>
	<br/>
	<input type="submit" value="Enregistrer" />
</form>

{% if user.role == 'accountant' and get.action != 'create' %}
	<h2>Passation comptable</h2>
	
	<p>Tu es actuellement comptable</p>
	
	<form method="post">
		<input type="hidden" name="action" value="give_accountant_role" />
		<label>
			Passer la main à : 
			{{ include('components/user-select.html', {from_to: 'new_accountant'}) }}
		</label>
		<input type="submit" value="Passer le rôle" />
	</form>
	
	<p><i>ou</i></p>
	
	<form method="post">
		<input type="hidden" name="action" value="leave_accountant_role" />
		<input type="submit" value="Abandonner le rôle" />
	</form>
	
{% endif %}


{{ include('common/footer.html') }}

{% endautoescape %}
